.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #42261b;
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: var(--main-color);
    z-index: -1;
    min-height: 100%;
    height: auto;
  }
  