.portfolioMenu {
  color: #fff;

  &__btn {
    color: pink;
    * {
      pointer-events: none; // hierdoor wordt het click event niet afgevangen door children van de button
    }
  }
}

.portfolio {
  color: #fff;

  &__item {
    max-width: 800px;
    border: 1px solid red;
  }
}
