.idea
/node_modules
# /modx
# /docs

# modx/*
# !modx/index.php
# !modx/.htaccess
# !modx/staticScripts
# modx/staticScripts/*
# !modx/staticScripts/chunks
# !modx/staticScripts/chunks/**/*.*
# !modx/staticScripts/snippets
# !modx/staticScripts/snippets/*
# !modx/staticScripts/templates
# !modx/staticScripts/templates/*
# !modx/staticScripts/plugins
# !modx/staticScripts/plugins/*
