@use "../abstracts/theme" as tm;

.navbar {
  position: fixed;
  background-color: tm.$navbar-background-color;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  z-index: 1000;
}

// Navigation List
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

// Navigation Items
.nav-item {
  width: 100%;
}

// Navigation Links
.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 0 1rem;
  color: tm.$navbar-color-icons;
  text-decoration: none;
  font-family: tm.$font-family-primary;
  font-size: tm.$font-size-text;
  transition: background 0.3s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    color: tm.$navbar-link-hover-color;
    background: tm.$secondary-background-color;
  }
}

// Link Text (Hidden on Default)
.link-text {
  display: none;
  margin-left: 1rem;
  color: tm.$text-color;
  font-family: tm.$font-family-secondary;
  font-size: tm.$font-size-title;
  white-space: nowrap;
}

// Icon Styling
.nav-link .icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    height: 100%;
    fill: tm.$navbar-color-icons;
    //transition: fill 0.2s ease-in-out;

    &:hover {
      fill: tm.$navbar-link-hover-color;
    }
  }
}

// 🌐 **Responsive Design**
@media only screen and (max-width: 760px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
    padding: 0 1rem;
  }

  .link-text {
    display: none;
  }

  main {
    margin: 0;
  }
}

@media only screen and (min-width: 760px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 12rem;
    transition: width 0.3s ease-in-out;

    & .link-text {
      display: inline;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
  }
}
