@use "../abstracts/theme" as tm;

.navbar {
  background-color: tm.$navbar-background-color;
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  color: tm.$text-color;
  z-index: 1000;
  position: relative;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
      .container-sm, .container {
        max-width: 540px;
      }
    }
  }

  & ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0;
    position: relative; // Position for dropdown
  }

  & li {
    height: 50px;
    display: inline-flex;
    align-items: center;
    position: relative; // Position for dropdown
  }

  & li:first-child {
    margin-right: auto;
  }

  & a {
    padding: 0 30px;
    color: tm.$text-color;
    font-family: tm.$font-family-secondary;
    text-decoration: none;
    font-size: tm.$font-size-large;
    display: flex;
    align-items: center;
    height: 100%;
  }

  & a:hover {
    color: tm.$hover-text-color;
    background-color: tm.$navbar-background-color;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 2%;
  }

  & .dropdown {
    display: none; // Hide dropdown initially
    position: absolute; // Position the dropdown relative to the parent <li>
    top: 100%; // Position the dropdown directly below the parent
    left: 0;
    padding: 0;
    background-color: tm.$dropdown-background-color;
    backdrop-filter: blur(10px); // Optional blur effect
  }

  & .dropdown li {
    width: 100%; // Full width of dropdown
  }

  & .dropdown a {
    padding: 10px 30px;
  }

  & .dropdown a:hover {
    background-color: transparent;
    color: tm.$hover-text-color;
  }

  & .logo {
    font-size: 22px;
    font-weight: bold;
  }
}
