@use "../abstracts/theme" as tm;

.aboutbody {
    font-family: 'Arial', sans-serif;
    background-color: tm.$background-color;
    margin: 0;
    padding: 0;
    color: tm.$text-color;
    line-height: 24px;
}

.aboutheader {
    background-color: tm.$secondary-background-color;
    color: tm.$text-color;
}

.AboutIcon {
    transform: translateY(5px);
}

.about-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: tm.$secondary-background-color;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: tm.$text-color;

    @media (max-width: 600px) {
        padding: 15px;
    }
}

.about-container h1 {
    font-family: tm.$font-family-secondary;
    font-size: 2.5em;
    color: tm.$text-color;
    margin-bottom: 20px;
    margin-top: 20px;
}

.profile-section {
    font-family: tm.$font-family-thridly;
    display: flex;
    align-items: center;
}

.profile-img {
    border-radius: 50%;
    margin-right: 20px;
}

.content-section {
    font-family: tm.$font-family-thridly;

    h2 {
        font-family: tm.$font-family-secondary;
        font-size: 2em;
        margin-top: 20px;
        margin-bottom: .5rem;
        color: tm.$secondary-text-color;
        line-height: 1.2;
    }

    p {
        font-family: tm.$font-family-thridly;
        margin-top: 0;
        margin-bottom: 1rem;
    }
}

.quote-section {
    padding: 10px;
    background-color: tm.$background-color;
    border-left: 4px solid tm.$secondary-text-color;
}

blockquote {
    font-style: italic;
    color: rgb(195, 195, 195);
}

.aboutfooter {
    text-align: center;
    padding: 20px 0;
    background-color: tm.$background-color;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}