@use "../abstracts/theme" as tm;

.homebody {
  background-color: tm.$background-color;
}

/* Home Section Styles */
.home {
  padding: 100px 0;
  background-color: tm.$background-color;
}

.home .container {
  max-width: 1100px;
  margin: 0 auto;
}

.home .intro {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.intro-text {
  color: tm.$text-color;
  line-height: 27px;
}

.intro-text .subtext {
  font-family: tm.$font-family-secondary, sans-serif;
  font-weight: 200;
  margin-bottom: calc(0.5rem + 6px);
  font-size: 40px;
  margin-bottom: 20px;
}

.intro-text .titletext {
  font-family: tm.$font-family-primary, sans-serif;
  font-weight: 500;
  font-size: 60px;
  margin-bottom: 15px;
  line-height: 70px;
}

.intro-text p {
  font-family: tm.$font-family-thridly, sans-serif;
  font-size: 18.7px;
  color: tm.$secondary-text-color;
}
