@import "../theme";

$font-size-title: 1.4em; // Font size for titles
$font-size-title-mobile: 1.2em; // Font size for titles on mobile
$font-size-text: 1em; // Font size for text
$font-size-text-mobile: 0.85em; // Font size for text on mobile

.labody {
    background-color: $background-color;
}

.audio-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Set maximum of 2 items per row */
    gap: 20px;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: start;
}

.audio-item {
    background-color: $template-background-color;
    color: $text-color;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid $template-border-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: auto;
    max-height: 90%;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.audio-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border: 5px solid $template-hover-border-color;
    background-color: $template-hover-background-color;

    .audio-title h1 {
        color: $secondary-text-color;
    }
}

/* Title styling */
.audio-title h1 {
    text-align: center;
    color: $text-color;
    text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
    font-size: $font-size-title;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: $font-family-primary;
    line-height: 1.4;
}

/* Audio Player container */
.audio-audio {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
    transition: transform 0.3s ease;
}

.audio-audio audio {
    width: 100%;
    border-radius: 10px;
}

.audio-audio:hover audio {
    transform: scale(1.05);
    /* Slight zoom effect on hover */
}

/* Description styling (always visible) */
.audio-description {
    font-family: $font-family-primary;
    font-size: $font-size-text;
    margin-bottom: 12px;
}

.audio-genre {
    font-family: $font-family-primary;
    font-size: $font-size-text;
    margin-bottom: 12px;
}

.audio-text {
    text-align: left;
    font-family: $font-family-primary;
    line-height: 1.6;
    font-size: $font-size-text;
    margin-top: 10px;
}

.audio-text ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 0.9em;
    line-height: 1.5;
}

.audio-text li {
    margin-bottom: 6px;
}

/* Ensure responsive behavior on smaller screens */
@media (max-width: 768px) {
    .audio-grid-container {
        grid-template-columns: 1fr;
        /* Stack items in one column on smaller screens */
        gap: 15px;
        padding: 10px;
    }

    .audio-title h1 {
        font-size: $font-size-title-mobile;
    }

    .audio-audio {
        margin-bottom: 10px;
    }

    .audio-text p,
    .audio-text ul {
        font-size: $font-size-text-mobile;
    }
}