$background-color-index: #42261b;
$intro-text: #fff6e7;
$intro-text-p: rgb(248, 214, 154);

/* Navbar Styles */
.homebody {
  background-color: $background-color-index;
}

/* Home Section Styles */
.home {
  padding: 100px 0;
  background-color: $background-color-index;
  text-align: center;
}

.home .container {
  max-width: 1100px;
  margin: 0 auto;
}

.home .intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.intro-text {
  color: $intro-text;
  text-align: center;
}

.intro-text h3 {
  font-family: 'Outfit', sans-serif;
  font-weight: 200;
}

.intro-text h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 46px;
  margin-bottom: 10px;
}

.intro-text p {
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  color: $intro-text-p;
}
