
/* Define keyframes for animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px); /* Start slightly below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at original position */
  }
}

/* Style individual skill items */
.skill-category {
  animation: slideInFromTop 1s forwards;
  animation-delay: 0.6s;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Gap between items */
}

.skill:hover {
  transform: scale(1.1); /* Slightly larger on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

///////////////////////////////////////////////////
#skills-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.skills {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping of items into multiple rows */
  gap: 10px; /* Spacing between skill items */
}

.skill-item {
  display: flex;
  align-items: center;
  padding: 3ulp
  px;
  margin: 4px;

  color: white;
  background-color: #36aa9f;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.languageskill {
  padding: 5px 10px;
  
  background-color: #36aa9f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  transition: background-color 0.3s ease;
  
  font-size: 16px;
}

.languageskill:hover {
  background-color: #2f7c73;
  color: white;
}

.skill-item img {
  display: block;
}

.skill-name {
  font-size: 16px;
}

.category-title {
  font-weight: bold;
  margin-right: 10px;
  font-size: 16px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
}